body {
  line-height: 2;
  background-color: #fbfbfb;
}

h1 {
  font-size: 7rem;
  font-weight: bold;
}

h5 {
  font-family: 'Work Sans', sans-serif;
  letter-spacing: 2px;
}

.dots {
  width: 8px;
  height: 8px;
  background-color: blue;
  display: inline-block;
  border-radius: 50%;
  margin-right: 5px;
}

/* two colour segment */
.section-a {
  position: relative;
  margin-bottom: 0px;
}

.container-1 {
  background-color: #e8ded2;
  height: 950px;
  margin-top: 90px;
}

.container-2 {
  padding: 12% 5% 10% 10%;
  margin-top: 90px;
  height: 950px;
}

/* INFORMATION CARD */
.inside {
  width: 390px;
  height: 540px;
  background-color: #f0ece3;
  position: absolute;
  left: 290px;
  top: 150px;
  box-shadow: -10px 11px 12px rgba(0, 0, 0, 0.1);
}

.inside-1 {
  text-align: center;
  width: 100%;
  height: 89%
}

.inside-2 {
  width: 100%;
  height: 11%;
  background-color: white;
  text-align: center;
}

/* icons */
.icons {
  margin: 9px 13px;
  color: black;
  width: 25px;
  height: 25px;
  transition: transform.2s;
}

.icons:hover {
  transform: scale(1.2);
}

/* profile */
.profile {
  margin-top: 50px;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
}

.name {
  margin: 13px 0 20px 0;
  font-family: 'Poppins', sans-serif;
  font-size: 1.9rem;
}

.name2 {
  margin-top: 30px;
}

.horizontal-line {
  width: 20%;
  border: 1.4px solid blue;
}

/* buttons */
.btn-1 {
  background-color: blue;
  width: 125px;
  border: 2px solid blue;
  border-radius: 29px;
  margin: 30px 15px 30px 0;
}

.btn-1:hover {
  background-color: white;
  color: black;
}

.btn-2 {
  background-color: white;
  width: 125px;
  border: 2px solid black;
  border-radius: 20px;
  color: black;
}

.btn-2:hover {
  background-color: blue;
  color: white;
}

/* NAVIGATION */
.navigation {
  height: 130px;
  background-color: white;
  display: flex;
  flex-direction: row;
  /* text-align: right;*/
}

.navbar-brand {
  font-family: 'Lato', sans-serif;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 1.3px;
  margin-left: 26px;
  margin-right: 0;
}

.navbar-semibrand {
  margin-top: 10px;
  letter-spacing: 0;
  margin-left: 0;
}

.dot-box {
  width: 15px;
  height: 15px;
  background-color: blue;
  position: absolute;
  top: 60px;
}

.navigation-container {
  position: relative;
}

.nav-link {
  margin-left: 8px;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: lighter;
  font-size: 18px;
  transition: 0.2 ease;
  animation-fill-mode: forwards;
}

/* //EDUCATION AND SKILLS */
.education-skills {
  padding: 60px;
  text-align: center;
  margin: 0;
}

.education-head {
  font-size: 3rem;
}

.education {
  margin: 20px auto 10px auto;
  width: 790px;
  height: 650px;
  background-color: white;
  box-shadow: -3px 4px 12px rgba(0, 0, 0, 0.1);
  position: relative;
  padding-top: 10px;
  transition: transform.2s;
  /* Animation */
}

.education:hover {
  transform: scale(1.06);
}

.ug, .college, .school {
  text-align: left;
  margin: 0px 0px 20px 50px;
  height: 190px;
}

.horizontal-line-2 {
  width: 20%;
  border: 1.4px solid blue;
  transform: rotate(90deg);
  position: absolute;
  top: 100px;
  left: -50px;
  margin: 0px;
}

.horizontal-line-3 {
  width: 20%;
  border: 1.4px solid blue;
  transform: rotate(90deg);
  position: absolute;
  top: 310px;
  left: -50px;
  margin: 0;
}

.horizontal-line-4 {
  width: 20%;
  border: 1.4px solid blue;
  transform: rotate(90deg);
  position: absolute;
  top: 520px;
  left: -50px;
  margin: 0;
}

.education-heading {
  font-family: 'Ubuntu', sans-serif;
  font-weight: lighter;
  color: #333333;
  font-size: 1.9rem;
}

.education-text {
  color: #495464;
  letter-spacing: 0.9px;
}

.dots-2 {
  width: 15px;
  height: 15px;
  background-color: blue;
  display: inline-block;
  border-radius: 50%;
  margin-right: 5px;
  position: absolute;
  left: 22.5px;
}

/* LOADER */
#loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #e8ded2;
  z-index: 99999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.load_circle {
  display: inline-block;
  height: 1.2rem;
  width: 1.2rem;
  margin: 3px;
  border-radius: 50%;
}

.load_circle1 {
  background-color: darkred;
  opacity: 0.6;
  -webkit-animation: loader_anime 0.7s ease-out infinite;
  animation: loader_anime 0.7s ease-out infinite;
}

.load_circle2 {
  background-color: red;
  opacity: 0.6;
  -webkit-animation: loader_anime 0.7s ease-out 0.2s infinite;
  animation: loader_anime 0.7s ease-out 0.2s infinite;
}

.load_circle3 {
  background-color: white;
  opacity: 0.6;
  -webkit-animation: loader_anime 0.7s ease-out 0.4s infinite;
  animation: loader_anime 0.7s ease-out 0.4s infinite;
}

@-webkit-keyframes loader_anime {
  0% {}

  25% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  50% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
}

@keyframes loader_anime {
  0% {}

  25% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  50% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
}