<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
</head>
<!-- fonts -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@200&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Cairo:wght@600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="css/vedio.css">
<script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js"></script>

<body>
  <div class="vedio">
    <div class="vedio-player">
      <video id="videoPlayer" controls>
        <source id="vedio-source" src="http://localhost:3000/video2" type="video/mp4">
      </video>
    </div>
    <div class="vedio-content">
      <div class="button_section">
        <div id="btn-1" class="btn btn-not-active btn-disable"><i class="fas fa-play"></i>Season-1</div>
        <div id="btn-2" class="btn btn-not-active btn-disable"><i class="fas fa-play"></i>Season-2</div>
        <div id="btn-3" class="btn btn-not-active btn-disable"><i class="fas fa-play"></i>Season-3</div>
      </div>
      <div class="about_section">
        <h1>LOST IN SPACE </h1>

        <h2> ~ SEASON-1</h2>

        <h3>Watch season-1 now </h3>
        <p>
          aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
          occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
        </p>
        <h4>Characters</h4>
        <div id="read-more-button" class="read-more-btn">Read more</div>

        <div id="read-more" class="read-more read-more-not-visible">
          <p>
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
            occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
          </p>

        </div>
        <h4>Characters</h4>
      </div>



    </div>
    <div class="other-vedios">
      <!-- ================html form for vedio randering============== -->
      <form class="Rander-form" action="/vedioRandering2" method="post">
        <input id="randerTex" type="text" name="randerText" value="">
        <button id="randerButton" type="submit" name="button"></button>
      </form>



      <!-- ================html form for vedio randering============== -->

      <div class="vid vid1" id="1">
        <img src="" alt="">
        <div class="vid-content">


          <h3 class="vidH1">
            <!-- Randering Heading-->
          </h3>
          <h4 class="vidT1">
            <!-- Randering content-->
          </h4>
        </div>
      </div>

      <div class="vid vid2 vid-2" id="2">
        <img src="" alt="">
        <div class="vid-content">

          <h3 class="vidH2">
            <!-- Randering Heading-->
          </h3>
          <h4 class="vidT2">
            <!-- Randering content-->
          </h4>
        </div>
      </div>

      <div class="vid vid3 vid-3" id="3">
        <img src="" alt="">
        <div class="vid-content">

          <h3 class="vidH3">
            <!-- Randering Heading-->
          </h3>
          <h4 class="vidT3">
            <!-- Randering content-->
          </h4>
        </div>
      </div>

      <div class="vid vid4 vid-4" id="4">
        <img src="" alt="">
        <div class="vid-content">

          <h3 class="vidH4">
            <!-- Randering Heading-->
          </h3>
          <h4 class="vidT4">
            <!-- Randering content-->
          </h4>
        </div>
      </div>

      <div class="vid vid5 vid-5" id="5">
        <img src="" alt="">
        <div class="vid-content">

          <h3 class="vidH5">
            <!-- Randering Heading-->
          </h3>
          <h4 class="vidT5">
            <!-- Randering content-->
          </h4>
        </div>
      </div>

      <div class="vid vid6 vid-6" id="6">
        <img src="" alt="">
        <div class="vid-content">

          <h3 class="vidH6">
            <!-- Randering Heading-->
          </h3>
          <h4 class="vidT6">
            <!-- Randering content-->
          </h4>
        </div>
      </div>

      <div class="vid vid7 vid-7" id="7">
        <img src="" alt="">
        <div class="vid-content">

          <h3 class="vidH7">
            <!-- Randering Heading-->
          </h3>
          <h4 class="vidT7">
            <!-- Randering content-->
          </h4>
        </div>
      </div>

      <div class="vid vid8 vid-8" id="8">
        <img src="" alt="">
        <div class="vid-content">

          <h3 class="vidH8">
            <!-- Randering Heading-->
          </h3>
          <h4 class="vidT8">
            <!-- Randering content-->
          </h4>
        </div>
      </div>
    </div>

    <section id="Comment">



      <div class="put-comment">
        <form class="" action="/comment" method="post">
          <input type="text" name="comment" value="" required placeholder="Share your views">
          <button type="submit" name="button">Comment</button>
        </form>
      </div>


      <% for (var i=mycomment.length-1; i>=0; i--) { %>

      <div class="comment-box">
        <h1><%=mycomment[i].comment%></h1>
        <div class="date-and-time">


          <h2><%=mycomment[i].date%></h2>
          <h3><%=mycomment[i].time%></h3>
        </div>
      </div>


      <% } %>


    </section>



    <script src="js/vedio2.js" charset="utf-8"></script>
</body>

</html>